/* CSS FOR EVERYTHING: ELEMENTS THAT DON'T CHANGE */

/* CSS on the navbar */

html{
    scroll-behavior: smooth;
}

body{
    padding-top: 60px;
} 

.navbar {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 1000;
}

.navbar .left,
.navbar .right {
    display: flex; gap: 20px; 
    }

.navbar .center {
    font-weight: bold; 
    }

.navbar a { 
    text-decoration: none; 
    color: #c8102e; 
    font-weight: bold; 
}

.theme_switch {
    position: absolute;
    top: 17%;
    right: 2%;
    padding: 1vw;
}

#themeSelector {
    background: white;
}

.narration_p{
    text-align: justify;
}
.source{
    cursor: pointer;
    transition: 0.7s;
    color: white; 
    text-decoration: underline;
}

.footer {
    position: static;
    box-sizing: border-box;
    background: #111;
    color: #fff;
    padding: 3vw;
    margin-top: 5vw;
    width: 100%;
}

.disclaimer{
    font-size: small;
}

.copyright{
    position: absolute;
    font-size: x-small
}

@media (max-width: 600px) {
    .navbar {
    padding: 0 12px;
    }

    .navbar .left,
    .navbar .right {
    gap: 10px;
    }

    .navbar a {
    font-size: 0.7rem;
    font-weight: 600;
    }
}