
html, body {
    height: 100%;
    margin: 0;
    font-family: "arial", sans-serif;
    background: url("imgs/gazacity.jpg") no-repeat center center fixed; 
    background-size: cover;
    color: #fff;
    line-height: 1.6;
  }

    .navbar {
      position:fixed; top:0; left:0; right:0;
      height: 60px;
      background:#fff;
      border-bottom:1px solid #ccc;
      display:flex; align-items:center; justify-content:space-between;
      padding:0 30px; z-index:1000;
    }
    .navbar .left, .navbar .right{ display:flex; gap:20px; }
    .navbar a{ text-decoration:none; color: #c8102e; font-weight:bold; }
    .navbar .center a{ color:#222; }

  header {
    
    .image-overlay-container {
    position: relative;
    display: inline-block; 
    cursor: pointer;
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
}

  main {
    max-width: 1200px;
    margin-top: 80px;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
  }
  
  h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 0.5rem;
    color: #fff;
  }
  
  
  #layout {
   display: flex;
   flex-direction: row; 
   align-items: stretch;
   justify-content: flex-start;
   gap: 2rem;
   margin-top: 2rem;
  }
  
  
  #map {
   width: 80%; 
   max-width: 610px;
   aspect-ratio: 1000 / 1000; 
   border-radius: 12px;
   overflow: hidden;
  }  
  
  .leaflet-container {
    background: transparent !important; 
  }
  
  
  #sideText {
    width: 40% ; 
    width: center;
    height: auto; 
    min-height: 0;
    background: #0000006e;
    border-radius: 12px;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 10px rgba(33, 33, 153, 0.2);
    color: #fff;

}

  .leaflet-popup-content img {
    width: 120px;
    border-radius: 6px;
    display: block;
    margin-bottom: 6px;
    object-fit: cover;
  }
  
  footer {
    text-align: center;
    background: #222;
    color: #fff;
    padding: 1rem;
    font-size: 0.9rem;
    margin-top: 3rem;
  }
  
  #coordBox {
    z-index: 1000;
  }


.image-detail-container {
  position: relative; 
  display: inline-block; 
  border-radius: 8px; 
  overflow: hidden; 
  cursor: pointer;
  text-decoration: none;
}

.image-detail-container img {
  transition: transform .3s ease;
}

.image-detail-container .discover-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0; 
  transition: .3s ease;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none; 
}

.image-detail-container:hover .discover-overlay {
  opacity: 1; 
}

.image-detail-container:hover img {
  transform: scale(1.03); 
}