html{
    scroll-behavior: smooth;
}

body {
    color: white;
    background: black;
    text-align: center;
}

/* CSS on the header */

h1 {
    font-size: 10vw;
    margin-top: 16vw;
    margin-bottom: 8vh; 
}

h2 {
    font-size: 3.5vw;
}

#down_arrow {
    display: block;
    margin: 3vw auto 5vw auto;
    width: 10vw;
    height: 10vw;
    cursor: pointer; 
    animation: pointing 2s ease-out;
}

#down_arrow img{
    width: 100%;
    object-fit: contain;
    display: block;
}

#down_arrow:hover{
    transform: translateY(5px) scale(1.1)
}

/* CSS on the introduction */

#introduction{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    width: 90%;
    gap: 5%; 
}

#two_column_layout p{
    text-align: left;
}

#exiled_img{
    width: 40vw;
}

/* CSS on the galleries */

#erasure_gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
    gap: 0vw;
}

.erasure_img{
    width: 100%;
    object-fit: cover;
    filter: contrast(100%) sepia(0%);
    transition: 0.8s ease;
}

#resistance_gallery{
    display:grid; 
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    gap: 0
}

.resistent_img{
    width: 100%;
    object-fit: cover;
    filter: contrast(100%) sepia(0%);
    transition: 0.8s ease;
}

.erasure_img:hover, 
.resistent_img:hover {
    filter: contrast(60%) sepia(100%); 
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 991px) {
    #erasure-gallery{
        grid-template-columns: 1fr 1fr;
    }

    #resistance-gallery{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    #erasure-gallery{
        grid-template-columns: 1fr; 
        gap: 40px; 
    }

    #resistance-gallery{
        grid-template-columns: 1fr;
    }
}


/* ANOTHER PAGE - TIMELINE */ 

#timeline_intro {
  text-align: center;
  padding: 2em 1em;
}

#chronological_timeline {
  position: relative;
  width: 90%;
  margin: auto;
  position: relative;
}

#chronological_timeline::before{
    content: ""; 
    position: absolute;
    top: 0;
    bottom: 0; 
    margin: auto;
    width: 0.7vw;
    background: white;
    z-index: -2; 
}

.timeline_date{
    width: 10vw;
    margin: auto; 
    background-color: green;
    border-radius: 3vh;
    font-size: 5vh;
}

.timeline_figure {
    width: 50%;
    display: block; 
    border: 0.2vw solid #ffffff;
    margin: 10% auto;
}

.timeline_figure img{
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.img_box{
    position: relative;
    display: block;
}

.overlay_content{
    position: absolute; 
    top: 0; 
    bottom: 0;
    left:0; 
    right: 0;

    background-color: rgba(0, 0, 0, 0.85);
    color: white;

    opacity: 0; 
    transition: opacity 0.3s ease; 
    text-align: center; 
    z-index: 1;
}

.img_box:hover .overlay_content{
    opacity: 1;
}

h4{
    margin-top: 25%;
    margin-right: 12%;
    margin-left: 12%;
}

.overlay_button{
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius:1vw;
    padding:1vw 2vw; 
}

a.overlay_button:hover {
    background-color: white;
    color: red;
}

