/*Cinematic Web design: with a modernist approach https://academic.oup.com/iwc/advance-article/doi/10.1093/iwc/iwaf026/8246686#530959830  */
/* CSS theme_immersive */

body {
    color: white;
    background-color: black;
    text-align: center;
    font-family: Georgia, serif;
}


.navbar {
        background-color: black;
        }


#themeSelector {
    border-radius: 10vw;
    background: black;
    color: white;
    border-color: #c8102e;
    border-radius: 2vw;
}

#narration_page ul{
    text-align: left;
    margin-left: 3%;
}

.narration_p{
    margin-left: 5%;
    margin-right: 5%
}

.narration_p a{
    color: #c8102e;
}

.source:hover{ 
    color:#c8102e
}

h1 {
    text-align: center;
    font-size: 8vw;
    margin-top: 10vh;
    margin-bottom: 8vh; 
}

h2 {
    font-size: 3.5vw;
    font-style: italic;
}

h3{
    font-size: 3vw;
}

#down_arrow {
    display: block;
    margin: 3vw auto 5vw auto;
    width: 15vw;
    height: 10vw;
    cursor: pointer; 
    animation: pointing 2s ease-out;
}

#down_arrow img{
    width: 100%;
    object-fit: contain;
    display: block;
}

#down_arrow:hover{
    transform: translateY(5px) scale(1.1)
}

/* CSS on the introduction */

#introduction{
    position: relative;
    min-height: 100vh; 

    background-image: url(imgs/idf_burning.jpg);
    background-size: cover;
}

#intro_section {
    position: absolute; /* this makes sense only if the #intro is relative, otherwise the top:0% will work accoring to the whole viewport not just the section */
    width: 30%; 
    height: auto;
    background-color: rgba(200, 16, 46, 0.7);
    top: 10%;
    padding: 2%;
    right: 5%;
    text-align: left;
}

#intro_section a {
    color: white;
}

/* CSS on the galleries */
#erasure_intro,
#resistance_intro{
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
} 

#erasure,
#resistance{
    display: grid;
    grid-template-columns: 1fr;
}  

.erasure_img,
.resistent_img{
    width: 70%;
    height: calc(100vh - 60px);
    object-fit: contain;
    filter: contrast(100%) sepia(0%);
    transition: 0.8s ease;
}

#erasure a,
#resistance a{
    text-decoration: none;
}

#erasure figcaption,
#resistance figcaption{
    font-style: italic;
    color: white;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.erasure_img:hover, 
.resistent_img:hover {
    filter: contrast(60%) sepia(100%); 
    cursor: pointer;
}

.is_hidden {
    opacity: 0; 
    transform: translateY(20px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.fade_in{
    opacity: 1; 
    transform: translateY(0);
    transition: opacity 1.5s ease-in;
}

/* ANOTHER PAGE - TIMELINE */ 

#timeline_intro {
    text-align: justify;
    padding: 2em 2em;
}

#chronological_timeline {
    width: 90%;
    margin: auto;
    position: relative;
}

.timeline_date{
    width: 20vw;
    margin: auto; 
    background-color: red;
    border-radius: 3vh;
    font-size: 10vh;
}

.timeline_figure{
    margin-left: 0;
    margin-right: 0;
}

.timeline_figure img{
    width: 70%;
    height: 90vh;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.overlay_content{
    position: absolute; 
    top: 0; 
    bottom: 0;
    left:0; 
    right: 0;

    background-color: rgba(0, 0, 0, 0.85);
    color: white;

    opacity: 0; 
    transition: opacity 0.3s ease; 
    text-align: center; 
    z-index: 1;
}

.timeline_figure:hover .overlay_content{
    opacity: 1;
}

h4{
    margin-top: 25%;
    margin-right: 12%;
    margin-left: 12%;
}

.overlay_button{
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 1vw;
    padding: 1vw 2vw; 
}

a.overlay_button:hover {
    background-color: white;
    color: red;
}

.timeline_column_description{
    visibility: hidden;
}

.disclaimer, 
.copyright{
    color: grey;
    margin-left: 5%;
    margin-right: 5%
}

@media (max-width: 600px) {
    .erasure_img,
    .resistent_img {
        width: 90%;
        max-height: 70vh; 
        height: auto; 
        margin: 0 auto; 
        display: block;
    }
   
    .timeline_date {
        width: 40vw; 
        font-size: 7vw; 
    }

    .timeline_figure img {
        width: 90%; 
    }
}

