.navbar{
    display: flex; 
    margin: 5%;
    justify-content: center;
}

.navbar a {
    color: inherit;
    text-decoration: none;
    margin-inline: 5%;
}

.navbar a:hover{
    text-decoration: underline green;
}

.subnav{
    position: relative; 
    display: inline-flex; 
    align-items: center;
    margin-inline: 5%;
}

.subnav_button{
    cursor: pointer; 
    background-color: inherit; 
    color: inherit;
    border: none;
    outline: none;
}

.subnav_button:hover{
    text-decoration: underline green;
}

.subnav_content {
    display: none; 
    position: absolute; 
    top: 100%; 
    left: 0; 
}

.subnav_content a {
    color: inherit; 
    text-decoration: none;
    display: block;
    width: max-content;
    box-sizing: border-box;
}

.subnav:hover .subnav_content {
    background-color: inherit;
    display: block;
}

#narration1:hover,
#timeline:hover {
    text-decoration: underline green;
}
